*{
  color: #031101;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #B7C9F2;
}

.containerP{
  background-color: #B7C9F2;
  padding: 10px;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.container{
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:center;
  margin:20px;
  padding:10px;
  border-radius:7px;
}